body {
  color: white;
  background-color: #282c34;
  width: 1150px;
  height: 100px;
  margin: 25px auto;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}